/********** General *************/
* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Fanwood Text', serif;
  color: #383D3B;
  background-color: #FAFAFA;
}


a {
  text-decoration: none;
  color: #383D3B;
}

li {
    list-style: none;
}

.padding {
    padding-top: 140px;
}

.top-border {
  border-top: 1px solid black;
}


/********************** Navigation *************************/

header  {
  z-index: 1;
  position: absolute;
  margin-top: -25px;
  height: 160px;
  width: 100%;
}

.navigation {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

nav ul {
  width: 100%;
  padding-left: 0;
}

nav li {
  display: inline-block;
  padding: 30px 20px 30px 0;
}


nav li:nth-child(4) {
  vertical-align: middle;
}

nav li:nth-child(7) {
  padding-right: 0;
}

nav li a {
  color: #383D3B;
  text-transform: uppercase;
}


#logo {
  height: 118.714px;
  width: 118.714px;
}

#mobile-only {
  text-align: center;
  padding-top: 6%;
}


.mobile-logo {
  vertical-align: middle;
}

.mobile-nav {
  display: inline-block;
  padding: 1%;
}


#slide-menu {
  display: block;
  z-index: 10;
  position: absolute;
  text-align: center;
  top: -150px;
  width: 100%;
  background: white;
  height: 100%;
  transition: .4s;
  box-shadow: 0 0 20px #a6a6a6;
}


#slide-menu ul {
  padding: 0;
}

#slide-menu li {
  padding-bottom: 2%;

}
#slide-menu a {
  font-size: 18px;

}

#static-menu {
  display: block;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

#static-menu ul {
  padding: 0;
  text-align: center;
  font-size: 15px;
}


.mobile-nav {
  padding-left: 4%;
  padding-right: 4%;
}



.show {
  transform: translateY(175px);
  transition: transform .4s;
}

.icon {
  height: 23px;
  vertical-align: middle;
}
/********************** Landing ************************/

.feature-image {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 850px;
  object-fit: cover;
}

.row {
  width: 100%;
  height: 600px;
  background-color: white;
}

.row-image {
  width: 60%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.row-text {
  width: 39%;
  height: 600px;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.row-text h2 {
  font-size: 34px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.row-text p {
  line-height: 28px;
  font-size: 19px;
}


.row-text hr {
  margin-top: -10px;
  width: 90%;
  border: 0;
  height: 1px;
  background: #B7B7B7;
}


.row-1 {
  margin-top: -6px;
}

.row-1-image {
  float: left;
}

.row-1-text {
  float: right;
}

.row-2-text {
  float: left;
}

.row-2-image {
  float: right;
}

.flex-center {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: inherit;
  width: 90%;
  margin: auto;
}

.find-dealer {
  width: 100%;
  text-align: center;
  height: 120px;
  background-color: #373E40;
  flex-direction: column;
  display: flex;
  justify-content: center;

}

.find-dealer a {
  font-size: 36px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


/********************** Models *************************/


.model-intro-container {
  height: 420px;
  max-width: 100%;
  padding: 0;
  background-color: #EFEFF1;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.model-intro {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.model-intro h2 {
  font-size: 36px;
  font-family: 'Lato', sans-serif;
}

.responsive-break {
  display: inherit;
}

.model-intro p {
  text-align: center;
  line-height: 28px;
  font-size: 22px;
  padding: 3%;
  width: 80%;
  margin: auto;
}

.model-intro hr {
  background: 1px solid black;
  width: 20%;
}


#model-list {
  background-color: white;
  width: 100%;
  padding-top: 5%;
  height: 150rem;
}

.model-container {
  height: 450px;
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
}


.model-image-container {
  width: 100%;
  height: 340px;
  display: block;
}

.model-info-container {
  display: block;
}

.model-image  {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.model-info-container h3 {
  margin: 0;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
}


.responsive-placeholder {
  display: none;
}
/********************** Individual Bike Modal *************************/

#bicycle-main {
  padding-bottom: 5%;
  width: 100%;
  text-align: center;
  padding-top: 170px;
}

.bicycle-photos {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
}

#large-image {
  width: 100%;
}

.thumbnails-wrapper {
  width: 100%;
}

div.thumbnails-wrapper img {
  width: 120px;
  height: auto;
  display: inline-block;
}


.bicycle-story-wrapper {
  width: 60%
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.bicycle-story {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

}


.bike-name {
  font-size: 2.5em;
  letter-spacing: 4px;
  font-family: 'Lato', sans-serif;
}

.bicycle-story p {
  line-height: 28px;
  font-size: 22px;
}

.bicycle-story p:first-of-type {
  text-align: center;
}


#bicycle-specs {
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  padding: 3% 0;
  text-align: left;
  background-color: white;
}


#bicycle-specs h3 {
  text-align: center;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  margin-bottom: 0;
  margin-top: 0;
}

.specs {
  width: 100%;
  text-align: center;
}

.specs li {
  font-size: 17px;
  padding-bottom: 1%;
  list-style: circle;
  list-style-position: inside;
  text-align: left;
}

.specs ul {
  padding: 0;
  width: 100%;

}

.specs-divider {
  display: block;
  padding: 3% 6% 0 6%;
}

.second-divider {
  padding-top: 0;
  margin-top: -15px;
}

#bottom-image-row {
  height: 400px;
  width: 100%;
  font-size: 0;
  border-bottom: 1px solid #E8E8E8;
}

#bottom-image-row img {
  display: inline-block;
  height: 100%;
  width: 33.333%;
  object-fit: cover;
  margin: 0;

}

/********************** Process *************************/

#process-section {
  text-align: center;
}


#process-main-head {
  height: 420px;
  width: 100%;
  background: url("/assets/images/green.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.process-main-heading {
  width: 100%;
}

.process-main-heading h2 {
  text-align: left;
  margin: 0;
  padding-left: 5%;
  padding-top: 5%;
  font-size: 4em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.2em;
}

#for-span {
  padding-top: 5%;
}

#style-span {
  color: #FAFAFA;
  letter-spacing: 0.3em;
  padding-top: 5%;

}

.process-intro {
  width: 100%;
  padding: 5% 0;
}

.process-intro p {
  width: 80%;
  margin: auto;
  line-height: 28px;
  font-size: 19px;
}

#build-process {
  width: 100%;
  background-color: white;
}

.process-description-wrapper {
  width: 90%;
  margin: 3% auto;
  display: block;
  background-color: #FAFAFA;
}

.process-image {
  display: block;
  width: 100%;
  object-fit: cover;
}


.description-title {
  font-family: 'Lato', sans-serif;
  font-size: 19px;
}

.process-description {
  display: block;
  text-align: justify;
  width: 90%;
  margin: auto;
  line-height: 25px;
  font-size: 16px;
}



#artisan-main-image {
  height: 420px;
  width: 100%;
}

#artisan-main-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#artisan-intro {
  width: 100%;
  background-color: white;
  text-align: center;
}

#artisan-intro h2 {
  margin: 0;
}

#artisan-intro p{
  width: 80%;
  margin: auto;
  line-height: 28px;
  font-size: 19px;
  padding: 5% 0;
}

.artisan {
  background: url("/assets/images/temp.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  text-align: center;
  float: left;
}

.artisan h4 {
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  margin-bottom: 0;
}


.artisan p {
  line-height: 25px;
  font-size: 16px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.artisan-img-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.artisan-image {
  width: 80%;
  height: 80%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;

}

/*************************** About **********************************/



#about-intro {
  height: 220px;
  width: 100%;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-intro h2 {
  text-align: center;
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.2em;
}


#about-container {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 3%;
  padding-top: 5%;
  margin: 0;
}

#inner-about-container {
  margin: auto;
}

#about-sidebar {
  max-width: 100%;
  display: block;
  background-color: #FAFAFA;
}

#about-sidebar h3 {
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  color: #b3b3b3;
}

#about-sidebar img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#sidebar-list {
  text-align: center;
  margin: 2%;
}

.sidebar-inner-containers {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  text-align: left;
}


#about-sidebar ul {
  padding: 0;

}


#about-sidebar li {
  padding-bottom: 5%;
}



#about-sidebar li p {
  margin: 0;
}


.author {
  font-style: italic;
}


.about-faq {
  display: none;
}

#about-main-content {
  width: 90%;
  display: block;
  text-align: left;
  margin: auto;
}


#about-main-content p {
  text-indent: 16px;
  line-height: 26px;
  font-size: 18px;
  margin: 0;
}

.firstcharacter {
  float: left;
  font-size: 90px;
  line-height: 60px;
  padding-top: 15px;
  padding-right: 8px;
  padding-left: 3px;

}

 p#dropcap {
  text-indent: 0;
}

#about-main-content hr {
  margin-top: 10%;
  width: 85%;
  padding: 0;
  border: none;
  border-top: medium double #383D3B;
  color: #383D3B;
  text-align: center;
}
#about-main-content hr:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}




/*********************** Dealers **************************/

section.dealers-page {
  padding-bottom: 5%;
}

#map {
  height: 300px;
  width: 100%;
  display: block;
  border: 7px solid #CCE1E2;
}

#dealers-container {
  height: 100%;
  width: 100%;

}

#inner-dealers-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 4%;
}

.dealer-header {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.dealer-hr {

    width: 60%;
    border: 0;
    height: 1px;
    background: #B7B7B7;
    margin-top: 3%;
}

.dealer {
  font-size: 19px;
  padding: 2%;
  float: left;
}


.dealer h3 {
  margin: 0;
}

.dealer p {
  margin-top: 0;
}

.appt-only {
  font-size: smaller;
  color: #b3b3b3;
}

.dealers-note {
  width: 100%;
  margin: 0;
  background-color: white;
  display: block;
}

.dealers-note p {
  width: 80%;
  text-align: justify;
  margin: auto;
  padding: 9% 5%;
  font-size: 19px;

}

/********************** Contact *************************/

#contact-details-section {
    height: 600px;
    width: 100%;
    padding-top: 180px;
}


#contact-image {
  width: 50%;
  height: 100%;
  float: left;
  display: inline-block;
}

#contact-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;

}


#contact-details-wrapper {
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  font-size: 19px;
}


#contact-intro {
  width: 70%;
  margin: auto;
}

#contact-intro h2 {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  margin-top: 0;
}

#contact-details {
  width: 70%;
  margin: auto;
}

.contact-icons {
  vertical-align: middle;
  padding-right: 15px;
}

.detail-row {
  margin-top: 6%;
}

.social {
  padding:0 15px;
}


#contact-form-section {
  height: 390px;
  background-color: white;
}

#contact-form-section div {
  padding-top: 4%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#thank-you-message {
  text-align: center;
  line-height: 26px;
  font-size: 22px;
  margin-top: -25px;
}

.form {
    width: 500px;
    padding: 40px;
    margin: auto;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="password"],
.form textarea,
.form select
{
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font-size: 16px;
    height: 45px;
    color: #383D3B;
    font-family: 'Fanwood Text', serif;
    letter-spacing: 0.04em;
}
.form textarea {
    resize: none;
    overflow: hidden;
}

.form input[type="button"],
.form input[type="submit"]{
    background-color: rgba(243,243,243, 0.5);
    border: white;
    display: inline-block;
    cursor: pointer;
    color: #383D3B;
    font-size: 18px;
    font-family: 'Fanwood Text', serif;
    padding: 8px 18px;
    text-decoration: none;
    letter-spacing: 0.04em;
}

.form input[type="button"]:hover,
.form input[type="submit"]:hover {
    background-color: rgba(243,243,243, 0.9);
}


/********** FAQS *************/

.faq-outer-wrapper {
  width: 100%;
}



.faq-wrapper {
  background: #FAFAFA;
  border: 25px solid white;
  box-shadow: 0 0 15px #a6a6a6;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  text-align: left;
}

.faq h1 {
  font-size: 26px;
  padding: 5% 0 3% 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
}


.faq-container {
  z-index: 5;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}



.faq h3 {
  font-size: 23px;
  font-family: 'Lato', sans-serif;
}

.faq p {
  line-height: 26px;
  font-size: 17px;
}

.faq ol {
  padding: 0;
}
/********************** Footer *************************/


footer {
  text-align: center;
  padding: 40px 0 39px 0;
  clear: both;

}


footer a {
  display: inline-block;
  padding: 5px 10px;
}
